.popup {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.2s linear;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.popup__container {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 10px;
    max-width: 430px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

@media (max-width: 320px) {
    .popup__container {
        max-width: 282px;
    }
}

.popup__close-button {
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    padding: 0;
}

.popup__close-button:before {
    position: absolute;
    content: '';
    height: 32px;
    border: 2px solid #fff;
    background-color: #fff;
    top: 0;
    transform: rotate(45deg);
}

.popup__close-button:after {
    position: absolute;
    content: '';
    height: 32px;
    border: 2px solid #fff;
    background-color: #fff;
    top: 0;
    transform: rotate(-45deg);
}

@media (max-width: 320px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }

    .popup__close-button:before {
        height: 20px;
        border: 1px solid #fff;
    }

    .popup__close-button:after {
        height: 20px;
        border: 1px solid #fff;
    }
}

.popup__icon {
    width: 120px;
    height: 120px;
    margin: 60px auto 0;
}

.popup__info {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    font-weight: 900;
    padding-top: 32px;
    max-width: 358px;
    margin: 0;
}