.header {
   display: flex;
   justify-content: space-between;
}

.header__menu-toggle {
   display: none;
}

.header__logo {
  margin: 18px 0 18px 0;
}

.header__links-container {
   list-style: none;
   display: flex;
   gap: 50px;
   padding: 0;
   margin: 0;
}

.header__button {
   color: #000;
   font-size: 14px;
   line-height: 1,2;
   font-weight: 400;
   background-color: transparent;
   border: none;
   padding: 0;
   text-decoration: none;
   cursor: pointer;
   margin-top: 29px;
}

.header__button:first-child {
   font-weight: 500;
}

.header__movie-links {
   display: flex;
   gap: 20px;
}

.header__profile-link {
   display: flex;
   gap: 20px;
}

.header__profile-icon {
   height: 30px;
   width: 30px;
   background: url('../../images/profile-icon.svg');
   background-size: 10px 10px;
   border-radius: 6px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #F9F9F9;
   margin-top: 21px;
}

@media (max-width: 770px) {
   
   .header__links-container {
      display: none;
   }
   .header__menu-toggle {
      display: block;
      padding-top: 15px;
   }
   .header__toggle-image {
      cursor: pointer;
   }
   
}

@media (max-width: 500px) {
   .header__logo {
      margin-left: 14px;
   }
   .header__links-container {
      margin-right: 14px;
      gap: 14px;
   }
   .header__button {
      font-size: 10px;
   }
   
}