.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* @media (max-width: 770px) {
    .register {
        margin: 232px auto;
    }
}

@media (max-width: 550px) {
    .register {
        margin: 56px auto 0;
    }
} */