.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

@media (max-width: 770px) {
    .login {
        margin: 232px auto;
    }
}

@media (max-width: 550px) {
    .login {
        margin: 56px auto 0;
    }
}